{{right_sidebar_enabled=True}}
{{extend 'layout.html'}}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script>
    $(document).ready(function(){
        $( "#accordion" ).accordion({
            collapsible: true,
            active: false,
            animate: 1000,
            animate: "easeOutQuart",
            heightStyle: "content"
        });
        var c=0;
        $("#click").click(function(){
            $(this).stop().animate({left: ++c%2*100 }, 'fast');
        });
    });
</script>
<style>
    #accordion{
        max-width: 400px;
    }
    #accordion h3{
        background-color: #EEE;
        margin: 5px 0px;
        padding-left: 10px;
        border-radius: 8px;
    }
    .val-positive{
        background-color:#83FAAD;
    }
    .val-negative{
        background-color:#FB8181;
    }
    .val-total, .val-single, .options{
        float: right;
    }
    .val-total{
        border-radius: 8px;
        padding: 0px 5px;
    }
    .line-item{
        margin-left: 5px;
        padding: 2px 5px;
    }
    a{
        color: #111;
        text-decoration: none;
    }

</style>
<h2>
    Transaction Summary
</h2>

<div id="accordion">
    {{ owed_to_you = 0.0 }}
    {{ for row in trans_rows: }}
    {{ transaction_total = 0.0 }}
    {{ payers_in_t = db(db.payment.transaction_n == row.id).select() }}
    {{ for payer in payers_in_t: }}
        {{ if payer.state == 'null': }}
            {{ transaction_total = transaction_total + payer.amount }}
        {{ pass }}
    {{ pass }}
    {{ owed_to_you = owed_to_you + transaction_total }}
    <h3 class="person">{{=row.title}}<span class="val-total val-positive" id="click">${{=transaction_total}}0</span></h3>
        <div>
            {{=A(I(_class='fa fa-dollar fw'),' Details', _class='btn btn-default', _href=URL('details_transaction', args=row.id))}}
            {{=A(I(_class='fa fa-edit fw'),' Edit', _class='btn btn-default', _href=URL('edit_transaction', args=row.id))}}
            {{=A(I(_class='fa fa-trash fw'),' Delete', _class='btn btn-danger', _href=URL('delete_transaction', args=row.id))}}
        </div>
    {{ pass }}
    {{ for row in pay_rows: }}
    {{ payment_in_t = db((db.payment.transaction_n == row.id)&(auth.user.id == db.payment.payer)).select().first() }}
    <h3 class="person">{{=row.title}}<span class="val-total val-negative" id="click">${{=payment_in_t.amount}}0</span></h3>
        <div>
            {{=A(I(_class='fa fa-dollar fw'),' Details', _class='btn btn-default', _href=URL('details_transaction', args=row.id))}}
            {{=A(I(_class='fa fa-edit fw'),' Edit', _class='btn btn-default', _href=URL('edit_transaction', args=row.id))}}
            {{=A(I(_class='fa fa-trash fw'),' Delete', _class='btn btn-danger', _href=URL('delete_transaction', args=row.id))}}
        </div>
    {{ pass }}
</div>
{{=A(I(_class='fa fa-plus-square'),' New Transaction', _class='btn', _href=URL('new_transaction'))}}

{{block right_sidebar}}
<div align="center">
{{=A('+ New Transaction', _class='btn', _href=URL('new_transaction'))}}
<h4>
    Current Balance</br>
    <font color="#09e959">+${{=owed_to_you}}</font></br>
    <font color="#FB8181">-${{=total_debt}}</font>
    </div>
</h4>
{{end}}
