{{extend 'layout.html'}}

<h1>New Transaction</h1>

<div class="well">

<table>
    <form id="newitemform" action="/Divvy/default/process_transaction" method="post">
        <label class="description" for="item">You bought </label>
		<div>
			<input id="item" name="item" class="element text medium" type="text"  value=""/> 
		</div>

        <label class="description" for="total">Which cost </label>
		<div>
			<input id="total" name="total" class="element text medium" type="price"  value="0"/> 
		</div>

         {{for key, value in users.iteritems():}}
        <label class="description" for="owes_{{=key}}">{{=value}} owes you</label>
		<div>
			<input id="owes_{{=key}}" name="owes_{{=key}}" class="element text medium" type="price"  value="0"/> 
		</div>
         {{pass}}
        <tr><td colspan="4"><input type="submit" value="Submit" id="additem"/>{{=A('Cancel', _class='btn', _href=URL('home'))}}</td></tr>
</form>
</table>
</div>
