{{extend 'layout.html'}}

<h1>New Transaction</h1>

<div class="well">

<table>
    <form id="newitemform" action="/Divvy/default/process_transaction" method="post">
        <label class="description" for="for">You bought </label>
		<div>
			<input id="for" name="for" class="element text medium" type="text"  value=""/> 
		</div>

        <label class="description" for="total">Which cost </label>
		<div>
			<input id="total" name="total" class="element text medium" type="price"  value="0"/> 
		</div>

         {{for name in names:}}
        <label class="description" for="owes_{{=name}}">{{=name}} owes you</label>
		<div>
			<input id="owes_{{=name}}" name="owes_{{=name}}" class="element text medium" type="price"  value="0"/> 
		</div>
            {{pass}}
        <tr><td colspan="4"><input type="submit" value="Submit" id="additem"/></td></tr>
</form>
</table>
</div>
